<div class="container" >
  <form >
    <div class="form-group">
    <label>FirstName:</label><br>
    <input type="text" class="form-control"  required><br>
    <label>LastName:</label><br>
    <input type="text" class="form-control"  ><br>
    <label>Gender</label><br>
    <input type="radio" name='gender' class="form-control">Male
    <input type="radio" name="gender" class="form-control">Female<br>
    <label>Adhar Number:</label><br>
    <input #adhar type="number" class="form-control"  required><br>
    <label>Driving licence:</label><br>
    <input type="number" class="form-control"  ><br>
    <label>vehicle Number:</label><br>
    <input type="text" class="form-control"  required><br>
    </div>
  </form>
  <br><br><br>
  &nbsp;
  <button  routerLink="/home" >submit</button>
</div>
<header>
  <div class="container blink">
    If you are only a transporter 
    <button routerLink='/transport'>click</button>
  </div>
</header>
<div class="blchain" fxLayout="row">
  <h3 fxFlex fxLayoutAlign="center start">
    We should update these details in blockchain (block) no one could tamper them. And they can be verified by all 
    the members using these app. It maintain trust between users and tranporting person. 
  </h3>

</div>

