:host{
    display: flex;
    direction: column;
}
html,body{
    padding:0px;
    margin:0px;
}
.foot{
    background-color: red;
}
.middle{
    background-color: skyblue;
}
.one{
    background-color: blue;
}
.home-column{
    background-color: skyblue;
}