<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map>


<div fxFlex fxLayout="column" class="home-column">
<div fxLayout="row" fxLayoutGap="0px" class="container">
    <div fxFlex="40" fxLayoutAlign="start">
        <button class="btn btn">Home (User Profile)</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class="usercert" fxFlex="60">
        <button>User Certificates</button>
        <button>LogOut</button>
    </div>
</div>
<div fxFlex fxLayout="row" class="mapdisc">

        <h3 >
            here agm-map (Google map) should be there .But I dont have google api key  so that i cont display it 
        
        </h3>
</div>

</div>
<footer>
    <div class="homefooter">
        <app-home-user></app-home-user>
    </div>
</footer>
<router-outlet></router-outlet>


